<p style="color: green"><%= notice %></p>

<%= render @playlist %>

<h4> Canciones </h4>

<ul>
  <% @playlist.songs.each do |song| %>
    <li> <%= song.title %> </li>
  <% end %>
</ul>


<%= link_to "agregar cancion", new_playlist_song_path(@playlist.id) %>
<div>
  <%= link_to "Edit this playlist", edit_playlist_path(@playlist) %> |
  <%= link_to "Back to playlists", playlists_path %>

  <%= button_to "Destroy this playlist", @playlist, method: :delete %>
</div>
